mqtt:
  host: _REPLACE_ # mqtt host/server like 192.168.1.203
  port: 1883 # mqtt host/server port

telegram:
  chat_id: _REPLACE_ # your telegram chat id
  api_token: _REPLACE_ # your telegram bot api token

frigate:
  host: _REPLACE_ # frigate host/server like 192.168.1.4
  port: 5001 # frigate host/server port